.displayS {
  color: $color-electric-yellow;
  font-size: 10rem;
  
}

.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20rem;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20rem;
}

.season-display.winter {
  color: blue;
}

.season-display.summer {
  color: red;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.winter {
  background-color: aliceblue;
}

.summer {
  background-color: rgba(0, 255, 247, 0.673);
}
